@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #F6F7F9;
    padding-bottom: 100px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: #646363;
}

.container {
    display: flex;
    position: relative;
}

.navbar {
    width: 250px;
    height: 100%;
    background: white;
    padding: 30px 0px;
    position: fixed;
    font-size: 18px;
    color: #646363;
}

.logo {
    width: 136px;
    height: 67px;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 30px;
}

.navbar a:visited {
    text-decoration: none;
    color: #666666;
}
.navbar ul li {
    padding: 15px;
}

.navbar ul li a {
    color: 666666;
    display: block;
}

.navbar ul li:hover a{
    color: #1D817F;
}

.maincontainer {
    width: 100%;
    margin-left: 250px;
}

h1 {
    padding: 20px;
    background: #1D817F;
    color: white;
    font-size: 20px;
}

.sectionhead {
    margin-top: 35px;
    margin-bottom: 20px;
    padding-left: 30px;
}
.questions div {
    margin-bottom: 20px;
}

.questions {
    color: #646363;
    line-height: 25px;
    background: white;
    padding: 30px;
    border-radius: 8px;
    margin-left: 20px;
    margin-top: 0px;
    margin-right: 20px;
    border-right: 6px solid #646363;
}

.questions ol {
    padding: 10px;
    line-height: 45px;
}

/* .usericon {
    margin-bottom: 10px;
} */

input {
    width: 800px;
    height: 40px;
    text-indent: 2%;
}

.continue {
    background: #1D817F;
    border-radius: 4px;
    width: 200px;
    display: block;
    padding: .5em;
    text-decoration: none;
    font-size: 15px;
    margin-top: 40px;
    margin-left: 20px;
    position: relative;
    z-index: 4;
    text-align: center;
    color: white;
}
